* { /* True for the whole page */
    box-sizing: border-box;
    margin:0;
    padding:0;
}
header {
    background-color: #120323;
    color: #97bf04;
}
header img {
    max-width:150px;
}
figure {
    display:flex;
    flex-direction: column;
    padding: 1.5rem;
}
figure img{
    outline: 0.25rem solid #d9043d;
}
figcaption h2{
    color:#120323;
}
aside {
    background-color: #97bf04;
}
footer {
    background-color: #d9043d;
    color: aliceblue;
    padding: 1rem;
    text-align: center;
}
body {  /* A sans-serif font */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 768px){
    header { /*For small screens  */
    display: block;
    text-align: center;
    padding: 2rem;
    }
    figcaption h2{
        margin-top: 1rem;
    }
    figcaption p{
        padding-bottom: 1rem;
        padding-right: 2rem;
    }
    aside {
        padding:1rem;
        margin-bottom: 1rem;
    }
    aside h3 {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
}
@media screen and (min-width:768px) { 
    header{ /*Medium Screens*/
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }
    main figure{
        flex-direction: row;
        flex: auto;
        flex:1;
        gap:1rem;
    }      
    figure img{
        max-width:300px;
        max-height:300px;
    }
    figure {
        margin:2rem;
    }
    figcaption p {
        padding:1rem;
    }
    figcaption h2{
        margin-left: 1rem;
    }
    aside {
        padding:1rem;
        margin-bottom: 1rem;
    }
    aside h3 {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
}
@media screen and (min-width: 1000px){
    header{ /*Large Screens*/
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }
    #container {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    figure {
        display: flex;
        padding: 1rem;
    }
    figcaption {
        margin-left: 1rem;
    }
    figcaption h2{
        margin-left: 1rem;
    }
    figcaption p {
        flex:3;
    }
    figure img {
        max-width:300px;
        max-height:300px;
        flex:1;
    }
    aside {
        margin-top: 2rem;
        max-height: 100%;
        width:85%;
        padding:1rem;
    }
    aside h3{
        padding-bottom: 0.5rem;
        flex:1;
    }  
}

    
